{% extends 'base.html.twig' %}

{% block body %}

    <h3>List of players</h3>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Max score</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}

            <tr>
                <th scope="row">{{ player.getWinner.id }}</th>
                <td>{{ player.getWinner.firstName }}</td>
                <td>{{ player.getWinner.lastName }}</td>
                <td>{{ player.getWinnerScore }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/player/{{ player.getWinner.id }}/edit" role="button">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block stylesheets %}
{% endblock %}
