{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit {{ player.firstName }} {{ player.lastName }}</h1>

    {#{{ form_start(edit_form) }}#}
        {#{{ form_widget(edit_form) }}#}
        {#<input type="submit" value="Edit" />#}
    {#{{ form_end(edit_form) }}#}

<form name="appbundle_player" method="post">
    <div class="form-group">
        {{ form_label(edit_form.firstName) }}
        {{ form_widget(edit_form.firstName, { 'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.lastName) }}
        {{ form_widget(edit_form.lastName, { 'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.created) }}
        {{ form_widget(edit_form.created) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.email) }}
        {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.country) }}
        {{ form_widget(edit_form.country, { 'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.city) }}
        {{ form_widget(edit_form.city, { 'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.street) }}
        {{ form_widget(edit_form.street, { 'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.zip) }}
        {{ form_widget(edit_form.zip, { 'attr': {'class': 'form-control'}}) }}
    </div>

    {{ form_widget(edit_form._token) }}
    <input type="submit" class="btn btn-primary btn-sm" value="Save" />
</form>
    {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger btn-sm" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
