{% extends 'base.html.twig' %}

{% block body %}
    <h1>Players list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Created</th>
                <th>Email</th>
                <th>Country</th>
                <th>City</th>
                <th>Street</th>
                <th>Zip</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td><a href="{{ path('player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                <td>{{ player.firstName }}</td>
                <td>{{ player.lastName }}</td>
                <td>{% if player.created %}{{ player.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ player.email }}</td>
                <td>{{ player.country }}</td>
                <td>{{ player.city }}</td>
                <td>{{ player.street }}</td>
                <td>{{ player.zip }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('player_show', { 'id': player.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('player_edit', { 'id': player.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('player_new') }}">Create a new player</a>
        </li>
    </ul>
{% endblock %}
