{% extends 'base.html.twig' %}

{% block body %}
    <h1>Player creation</h1>

    <form name="appbundle_player" method="post">
        <div class="form-group">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName, { 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName, { 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.created) }}
            {{ form_widget(form.created) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.country) }}
            {{ form_widget(form.country, { 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.city) }}
            {{ form_widget(form.city, { 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.street) }}
            {{ form_widget(form.street, { 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.zip) }}
            {{ form_widget(form.zip, { 'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_widget(form._token) }}
        <input type="submit" class="btn btn-primary btn-sm" value="Save" />
    </form>
{% endblock %}
