{% extends 'base.html.twig' %}

{% block body %}
    <h1>Player</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ player.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ player.lastName }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if player.created %}{{ player.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ player.email }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ player.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ player.city }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ player.street }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ player.zip }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('player_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('player_edit', { 'id': player.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
